<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/table.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
<div class="container-fluid">
    <h2>Welcome to RDF Node renaming program</h2>
    <p>Please confirm selected changes.</p>
    <p>If you want to modify changes, go back to renaming form</p>

    <div>
        <form action="#" th:action="@{/confirm}" th:object="${renamingMap}" method="post" id="form">
            <table class="minimalistBlack">
                <tr>
                    <th>New URI</th>
                    <th>Num of instances</th>
                    <th>Old URI</th>
                </tr>
                <tr th:each="instance : ${renamingMap}">
                    <td th:text="${instance.key}"></td>
                    <td th:text="${#lists.size(instance.value)}"></td>
                    <td>
                        <p th:each="uri : ${instance.value}">
                        <span th:text="${uri}"></span>
                        </p>
                    </td>
                </tr>
            </table>
            <input type="submit" name="cancel" value="Back to renaming form"/>
            <input type="submit" name="save" value="Confirm and download"/>
        </form>
    </div>
</div>
</body>
</html>