<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
<div class="container-fluid">
    <h2>Welcome to RDF Node renaming program</h2>
    <p>Please select properties that you want to include in node name.</p>
    <div th:if="${error} != null">
        <p style="color: red;" th:text="${error}"></p>
    </div>
    <div>
        <form action="#" th:action="@{/rename}" th:object="${dto}" method="post">
            <table>
                <tr>
                    <th>Type</th>
                    <th>Properties</th>
                </tr>
                <th:block th:each="type : *{types}">
                    <tr>
                        <td th:text="*{types[__${typeStat.index}__].name}"></td>
                        <td>
                            <input type="checkbox" name="includeOrigId"
                                   th:value="*{types[__${typeStat.index}__].name}">
                            <label>Include original ID</label>
                        </td>
                        <th:block th:each="property : *{types[__${typeStat.index}__].properties}">
                            <td>
                                <input type="checkbox" name="selectedProperties"
                                       th:value="*{{types[__${typeStat.index}__].properties[__${propertyStat.index}__].id}}"
                                       th:checked="*{{types[__${typeStat.index}__].properties[__${propertyStat.index}__].selected}}"/>
                                <label th:text="*{{types[__${typeStat.index}__].properties[__${propertyStat.index}__].name}}" ></label>
                            </td>
                        </th:block>
                    </tr>
                </th:block>
            </table>
            <input type="submit" value="Submit"/>

        </form>
    </div>
</div>

</body>
</html>