<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
<div class="container-fluid">
    <h2>Welcome to RDF Node renaming program</h2>
    <p>Please select properties that you want to include in node name.</p>
    <p>For each property there is an example in brackets</p>

    <div th:if="${error} != null">
        <p style="color: red;" th:text="${error}"></p>
    </div>
    <div>
        <form action="#" th:action="@{/rename}" th:object="${dto}" method="post" id="form">
            <table>
                <tr>
                    <th>Type</th>
                    <th>Original ID</th>
                    <th>Properties</th>
                    <th>New name example</th>
                </tr>
                <th:block th:each="type : *{types}">
                    <tr>
                        <td th:text="${type.name}"></td>
                        <td>
                            <input th:id="${typeStat.index} + '-include-id'" type="checkbox" name="includeOrigId"
                                   th:value="${type.name}">
                            <label>Include original ID</label>
                        </td>
                        <td>
                            <select class="form-control" th:id="${typeStat.index} + '-select'" multiple="multiple" name="selectedProperties">
                                    <option th:each="property : ${type.properties}"
                                            th:value="${property.id}"
                                            th:selected="${property.selected}"
                                            th:id="${property.name} + '-' + ${property.exampleObject}"
                                            th:text="${property.name}">
                                    </option>
                            </select>
                        </td>
                        <td>
                            <p th:id="${typeStat.index} + '-text'" th:text="[base]"></p>
                        </td>
                    </tr>
                </th:block>
            </table>
            <input type="submit" value="Submit"/>
        </form>
    </div>
</div>

<script>
    $(document).ready(
        function (){
            checkSelected();
            $(":checkbox").on("click", function() {
                var numId = ($(this).attr("id").substring(0, $(this).attr("id").indexOf('-')));
                if (this.checked) {
                    $("#" + numId + "-text").append("-[id]");
                } else {
                    $("#" + numId + "-text").text($("#" + numId + "-text").html().substring(0, $("#" + numId + "-text").html().length - 5));
                }
            });
            $("select").on("change", function() {
                var numId = ($(this).attr("id").substring(0, $(this).attr("id").indexOf('-')));
                $("#" + numId + "-text").text("[base]");
                $(this).find('option:selected').each(function(){
                    $("#" + numId + "-text").append("-").append($(this).attr('id'));
                });
                if ($("#" + numId + "-include-id").is(':checked')) {
                    $("#" + numId + "-text").append("-[id]");
                }
            });
        }
    );
    var checkSelected = function() {
        $("select").each(function() {
            var numId = ($(this).attr("id").substring(0, $(this).attr("id").indexOf('-')));
            $("#" + numId + "-text").text("[base]");
            $(this).find('option:selected').each(function(){
                $("#" + numId + "-text").append("-").append($(this).attr('id'));
            });
            if ($("#" + numId + "-include-id").is(':checked')) {
                $("#" + numId + "-text").append("-[id]");
            }
        });
    }
</script>
</body>
</html>